<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--모의투자-->
    <add key ="SimulatedLoginID" value ="kjs8624"/>
    <add key ="SimulatedLoginPwd" value ="0987poiu"/>
    <add key ="SimulatedOrderPwd" value ="0000"/>
    <!--실제계좌-->
    <add key ="RealLoginID" value ="kjs8624"/>
    <add key ="RealLoginPwd" value =""/>
    <add key ="RealCertiPwd" value =""/>
    <add key ="RealOrderPwd" value =""/>
    <!-- 시간 설정-->
    <add key ="BeginTime" value ="090000"/>
    <add key ="EndTime" value ="154500"/>
    <!--예상체결범위-->
    <!--매수-->
    <add key ="LongEstimatedBegin" value ="0.10"/>
    <add key ="LongEstimatedEnd" value ="2.00"/>
    <!--매도-->
    <add key ="ShortEstimatedBegin" value ="-2.00"/>
    <add key ="ShortEstimatedEnd" value ="-0.10"/>
    <!--선물총잔량설정범위-->
    <!--매수-->
    <add key ="LongQtySumDiffBegin" value ="100"/>
    <add key ="LongQtySumDiffEnd" value ="3000"/>
    <!--매도-->
    <add key ="ShortQtySumDiffBegin" value ="-3000"/>
    <add key ="ShortQtySumDiffEnd" value ="-100"/>
    <!--진입틱수설정범위-->
    <!--매수-->
    <add key ="LongEnterTickBegin" value ="1"/>
    <add key ="LongEnterTickEnd" value ="10"/>
    <!--매도-->
    <add key ="ShortEnterTickBegin" value ="-10"/>
    <add key ="ShortEnterTickEnd" value ="-1"/>
    <!--손절라인-->
    <!--매수-->
    <add key ="LongLossCutBegin" value ="-20"/>
    <add key ="LongLossCutEnd" value ="20"/>
    <!--매도-->
    <add key ="ShortLossCutBegin" value ="-20"/>
    <add key ="ShortLossCutEnd" value ="20"/>
    <!--손절라인_특정-->
    <!--매수-->
    <add key ="LongSpecialLossCutBegin" value ="-15"/>
    <add key ="LongSpecialLossCutEnd" value ="15"/>
    <!--매도-->
    <add key ="ShortSpecialLossCutBegin" value ="-15"/>
    <add key ="ShortSpecialLossCutEnd" value ="15"/>
    <!--익절라인-->
    <!--매수-->
    <add key ="LongProfitCutBegin" value ="-500"/>
    <add key ="LongProfitCutEnd" value ="500"/>
    <!--매도-->
    <add key ="ShortProfitCutBegin" value ="-500"/>
    <add key ="ShortProfitCutEnd" value ="500"/>
    <!--익절라인_특정-->
    <!--매수-->
    <add key ="LongSpecialProfitCutBegin" value ="10"/>
    <add key ="LongSpecialProfitCutEnd" value ="500"/>
    <!--매도-->
    <add key ="ShortSpecialProfitCutBegin" value ="-500"/>
    <add key ="ShortSpecialProfitCutEnd" value ="-10"/>
  </appSettings>
</configuration>